/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ebe9ec #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #656267;
    border-radius: 10px;
    border: 3px solid #ffffff;
}


a {
    text-decoration: none;
}

.container {
    padding: 0 50px;
}

body {
    font-family: $mainFont;
    background-image: url(../img/main_bg_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    .page {
        display: flex;
        padding: 80px 100px;
        width: 100%;
        max-width: 1660px;
        height: 100vh;
        margin: 0 auto;
        position: relative;

        @include forTablet {
            padding: 0;
        }

    }
}