$mainFont:'Poppins',
sans-serif;
$headerBgColor:#56b8870f;
$AvatarBorderColor: #fff;
$ContentBgColor: #fff;
$headerDefaultTextColor:#fff;
$headerIconsBg: #55555589;
$personInfoHero:#9baab3;
$primaryTextColor: #000;
$secondaryTextColor: #555555;
$statsNumberColor:#9baab3;