@import "../variables";
@import "../mixins";

.stats {
    display: flex;
    margin: 0 -15px;

    .stat-item {
        width: calc(100%/3);
        padding: 0 15px;

        .outline {
            padding: 20px;
            box-shadow: 0 1px 5px rgb(0 0 0/15%);
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            z-index: 1;

            i {
                position: absolute;
                font-size: 78px;
                inset: 50% auto auto 0;
                translate: -40% -50%;
                z-index: 2;
                color: $secondaryTextColor;
                opacity: 0.3;
            }

            .title {
                text-align: right;
                font-weight: 600;
                color: $primaryTextColor;
                margin: 0 0 15px 0;
            }

            .number {
                text-align: right;
                color: $statsNumberColor;
                font-size: 36px;
                margin: 0;


            }
        }

    }

}